/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juil. 2014, 10:18:06
    Author     : erwincalvez
*/
ul {
  list-style-type: none;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background: #2e6b2e; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/******HEADER*************/
*::-webkit-input-placeholder {
  color: #fff; }

*:-moz-placeholder {
  /* FF 4-18 */
  color: #fff; }

*::-moz-placeholder {
  /* FF 19+ */
  color: #fff; }

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

.search-box {
  width: 100%;
  background: #1a5c1a;
  height: 50px;
  display: none; }
  @media screen and (max-width: 600px) {
    .search-box {
      height: 100px; } }
  .search-box .search-box-inner {
    width: 960px;
    position: relative;
    margin: 0 auto; }
    @media screen and (max-width: 960px) {
      .search-box .search-box-inner {
        width: 96%; } }
    .search-box .search-box-inner form .search-field {
      height: 50px;
      line-height: 50px;
      padding: 0 2px;
      border: none;
      background: none;
      color: #fff;
      font-size: 1.5em;
      float: left;
      margin-right: 10px; }
    .search-box .search-box-inner form input[type=submit] {
      font-size: 1.5em;
      color: #fff;
      float: left;
      height: 50px;
      border: none;
      background: none;
      box-shadow: none;
      text-shadow: none; }
      @media screen and (max-width: 600px) {
        .search-box .search-box-inner form input[type=submit] {
          float: none;
          clear: both;
          padding: 0; } }
    .search-box .search-box-inner form .search-submit {
      display: block; }

.menu-searchbar {
  width: 100%;
  margin: 0 auto;
  background: #1a5c1a;
  height: 30px;
  line-height: 30px; }
  .menu-searchbar .menu-searchbar-inner {
    width: 960px;
    margin: 0 auto; }
    @media screen and (max-width: 960px) {
      .menu-searchbar .menu-searchbar-inner {
        width: 96%; } }
  .menu-searchbar .open-search {
    background-image: url(../images/loupe.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    text-indent: -9999em;
    display: block;
    float: right;
    margin-top: 5px; }
  .menu-searchbar #sidebar-top {
    position: relative; }
    .menu-searchbar #sidebar-top li {
      float: left;
      margin: 0; }
    .menu-searchbar #sidebar-top #iclw-2 {
      text-indent: -9999em;
      float: right;
      background-image: url(../images/facebook.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin: 5px 0 0 0; }
      .menu-searchbar #sidebar-top #iclw-2 ul {
        margin: 0; }
      .menu-searchbar #sidebar-top #iclw-2 a {
        display: block;
        width: 20px;
        height: 20px; }

.site-header-inner {
  width: 960px;
  margin: 0 auto;
  height: 140px;
  color: #fff; }
  @media screen and (max-width: 960px) {
    .site-header-inner {
      width: 96%; } }
  @media screen and (max-width: 500px) {
    .site-header-inner {
      height: 180px; } }
  .site-header-inner a {
    color: #fff; }
  .site-header-inner .site-branding {
    float: left;
    background-image: url(../images/logo_dubois.gif);
    background-size: cover;
    height: 90px;
    width: 200px;
    margin-top: 20px; }
    .site-header-inner .site-branding h1 {
      text-indent: -9999em; }
      .site-header-inner .site-branding h1 a {
        height: 90px;
        display: block; }
    .site-header-inner .site-branding h2 {
      text-indent: -9999em; }
  .site-header-inner .menu-pages {
    float: right;
    margin-top: 50px; }
    @media screen and (max-width: 500px) {
      .site-header-inner .menu-pages {
        width: 96%;
        float: none;
        clear: both;
        margin: 20px 0;
        padding-top: 10px; } }

.menu-pages {
  float: right; }
  @media screen and (max-width: 500px) {
    .menu-pages ul {
      text-align: center; } }
  .menu-pages li {
    float: left;
    margin-left: 10px; }
    @media screen and (max-width: 500px) {
      .menu-pages li {
        display: inline;
        float: none; } }

/*****MENU HOME***********/
@media screen and (min-width: 768px) {
  .main-navigation li:nth-child(4) {
    margin-right: 0; }
  .main-navigation li:nth-child(8) {
    margin-right: 0; }
  .main-navigation li:nth-child(12) {
    margin-right: 0; }
  .main-navigation li:nth-child(16) {
    margin-right: 0; } }
@media screen and (max-width: 768px) {
  .main-navigation li:nth-child(2) {
    margin-right: 0; }
  .main-navigation li:nth-child(4) {
    margin-right: 0; }
  .main-navigation li:nth-child(6) {
    margin-right: 0; }
  .main-navigation li:nth-child(8) {
    margin-right: 0; }
  .main-navigation li:nth-child(10) {
    margin-right: 0; }
  .main-navigation li:nth-child(12) {
    margin-right: 0; }
  .main-navigation li:nth-child(14) {
    margin-right: 0; }
  .main-navigation li:nth-child(16) {
    margin-right: 0; } }
.main-navigation li {
  float: left;
  position: relative;
  width: 22%;
  height: 200px;
  background-position: 50% 0;
  margin: 0 4% 10px 0px;
  position: relative;
  overflow: hidden;
  font-family: "times new roman", serif;
  text-align: center;
  font-size: 1.2em; }
  @media screen and (max-width: 768px) {
    .main-navigation li {
      width: 47%;
      margin: 0 6% 10px 0px; } }
  @media screen and (max-width: 480px) {
    .main-navigation li {
      width: 100%;
      margin: 0 auto 10px; } }
.main-navigation a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -140px;
  background: url(../images/white80.png) repeat;
  color: #111;
  font-weight: bold;
  font-size: 1em;
  padding: 5px; }
  @media screen and (max-width: 900px) and (min-width: 769px) {
    .main-navigation a {
      font-size: 0.8em; } }
  .main-navigation a span.sub {
    position: absolute;
    bottom: 30px;
    left: 0;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em; }
  .main-navigation a span.read-more {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: normal;
    color: #fff;
    padding: 2px;
    font-size: 0.7em;
    background: red;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }

@media screen and (max-width: 768px) {
  width: 30%;
  margin: 0 3% 10px 0px;
  li:nth-child(4) {
    margin-right: 0; }

  li:nth-child(8) {
    margin-right: 0; }

  li:nth-child(12) {
    margin-right: 0; }

  li:nth-child(16) {
    margin-right: 0; } }
li.coeur a {
  background: yellow; }

.home1 {
  background-image: url(../images/home1.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home2 {
  background-image: url(../images/home2.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home3 {
  background-image: url(../images/home3.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home4 {
  background-image: url(../images/home4.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home5 {
  background-image: url(../images/home5.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home6 {
  background-image: url(../images/home6.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home7 {
  background-image: url(../images/home7.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home8 {
  background-image: url(../images/home8.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home9 {
  background-image: url(../images/home9.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home10 {
  background-image: url(../images/home10.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home11 {
  background-image: url(../images/home11.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home12 {
  background-image: url(../images/home12.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home13 {
  background-image: url(../images/home13.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home14 {
  background-image: url(../images/home14.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home15 {
  background-image: url(../images/home15.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.home16 {
  background-image: url(../images/home16.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

/******FOOTER*************/
footer {
  width: 100%;
  padding-top: 20px; }
  footer .site-info {
    width: 960px;
    margin: 0 auto;
    font-size: 1em;
    color: #fff;
    /*font-family:"times new roman", serif;*/ }
    @media screen and (max-width: 960px) {
      footer .site-info {
        width: 90%; } }
    footer .site-info h4 {
      font-size: 1.5em;
      color: #fff;
      border-bottom: 1px solid #fff; }
    footer .site-info .menu-footer {
      float: left;
      width: 65%; }
      @media screen and (max-width: 768px) {
        footer .site-info .menu-footer {
          float: none;
          width: 100%; } }
      footer .site-info .menu-footer li {
        float: left;
        width: 40%; }
        @media screen and (max-width: 768px) {
          footer .site-info .menu-footer li {
            margin-right: 5%;
            font-size: 0.8em; } }
        footer .site-info .menu-footer li a {
          color: #fff; }
    footer .site-info .sidebar-footer {
      float: right;
      width: 30%; }
      @media screen and (max-width: 768px) {
        footer .site-info .sidebar-footer {
          float: none;
          width: 100%; } }

.menu-pages-footer {
  width: 100%;
  background-color: #1a5c1a;
  height: 50px; }
  .menu-pages-footer .menu-menu-pages-container {
    width: 960px;
    margin: 0 auto; }
    @media screen and (max-width: 960px) {
      .menu-pages-footer .menu-menu-pages-container {
        width: 90%; } }
    .menu-pages-footer .menu-menu-pages-container ul {
      float: right;
      display: inline-block;
      margin-top: 10px; }
      .menu-pages-footer .menu-menu-pages-container ul li {
        float: left;
        margin: 0 0 0 10px; }
        .menu-pages-footer .menu-menu-pages-container ul li a {
          color: #fff; }

/******CONTENT*************/
.category #content, .search #content, .single #content, #page #content {
  background: #fff; }

#primary {
  width: 960px;
  margin: 20px auto 0;
  font-family: "times new roman", serif; }
  @media screen and (max-width: 960px) {
    #primary {
      width: 96%; } }
  #primary #breadcrumbs {
    color: #1a5c1a; }
    #primary #breadcrumbs a {
      color: #1a5c1a; }
      #primary #breadcrumbs a:visited {
        color: #1a5c1a; }
      #primary #breadcrumbs a:hover {
        color: #333; }
  #primary .left {
    padding-top: 55px;
    width: 25%;
    float: left; }
    @media screen and (max-width: 768px) {
      #primary .left {
        display: none; } }
    #primary .left ul {
      color: #000; }
      #primary .left ul li:hover {
        cursor: pointer; }
      #primary .left ul li {
        border-bottom: 1px solid #000; }
        #primary .left ul li a {
          color: #1a5c1a;
          font-weight: bold; }
          #primary .left ul li a:visited {
            color: #1a5c1a; }
          #primary .left ul li a:hover {
            color: #333; }
        #primary .left ul li ul {
          margin: 0; }
          #primary .left ul li ul li {
            padding-left: 10px;
            border-bottom: 1px solid #1a5c1a; }
            #primary .left ul li ul li a {
              color: #1a5c1a;
              font-weight: normal; }
              #primary .left ul li ul li a:visited {
                color: #1a5c1a; }
              #primary .left ul li ul li a:hover {
                color: #333; }
          #primary .left ul li ul li:last-child {
            border: none; }
  #primary .right {
    padding-top: 50px;
    float: right;
    width: 70%; }
    @media screen and (max-width: 768px) {
      #primary .right {
        width: 100%;
        float: none; } }
    #primary .right .cat-main-title {
      color: #1a5c1a;
      font-size: 2em; }
    #primary .right .cat-main-description {
      color: #000;
      font-size: 1em; }
    #primary .right .category-image {
      width: 100%; }

.category-list {
  border-top: 2px solid #1a5c1a; }
  .category-list ul li:last-child {
    border: none; }
  .category-list ul li {
    border-bottom: 1px solid #1a5c1a;
    padding: 20px 0;
    margin-bottom: 10px; }
    .category-list ul li .subcategory-title {
      color: #1a5c1a;
      font-size: 1.5em; }
      .category-list ul li .subcategory-title a {
        color: #1a5c1a; }
        .category-list ul li .subcategory-title a:visited {
          color: #1a5c1a; }
        .category-list ul li .subcategory-title a:hover {
          color: #333; }
    .category-list ul li .subcategory-description {
      color: #000;
      font-size: 1em; }
    .category-list ul li .subcategory-image {
      float: left;
      width: 30%;
      height: auto; }
    .category-list ul li ul.brands-list {
      float: right;
      width: 60%; }
      .category-list ul li ul.brands-list p {
        font-size: 1em; }
      .category-list ul li ul.brands-list li {
        border: none;
        padding: 0; }
        .category-list ul li ul.brands-list li a {
          color: #000;
          text-decoration: underline; }

.entry-content-left {
  float: left;
  width: 30%; }
  .entry-content-left img {
    width: 100%; }

.entry-content {
  border-bottom: 1px solid #1a5c1a;
  padding: 20px 0; }

.entry-content-right {
  float: right;
  width: 65%; }
  .entry-content-right h1 {
    font-size: 1.5em;
    color: red; }
    .entry-content-right h1 a {
      color: red; }
  .entry-content-right .dubois-content {
    color: #000; }

/***SINGLE*******/
.single .entry-title {
  font-size: 1.5em;
  color: #1a5c1a;
  margin: 0 0 20px; }
.single .single-image img {
  width: 100%; }

/****SEARCH*****/
.search article {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1a5c1a; }
.search .entry-title {
  font-size: 1em; }
  .search .entry-title a {
    color: #1a5c1a; }
.search footer {
  padding-top: 0px; }
  .search footer a {
    color: #1a5c1a; }
    .search footer a:hover {
      color: #333; }

/****PAGES***/
.page-title {
  font-size: 2em;
  color: #444;
  font-family: "times new roman", serif; }

.page-content {
  font-size: 1em;
  color: #444;
  font-family: "times new roman", serif; }
